/* 初始化設定 */
/* =======================================================================我是分隔線================================================================== */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    caret-color: transparent; /* 隱藏插入符號 */
}


html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    /* 禁止滾動 */
}

body {
    display: flex;
    background-image: url('../images/Game_backgroud.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

header,
main,
footer {
    flex-wrap: nowrap;
}

header {
    flex-wrap: nowrap;
    top: 100px;
    justify-content: center;
    align-items: center;
}

body,
html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C0C0C0;
}

.score {
    display: block;
    width: 14vw;
    color: aliceblue;
    font-size: 5vh;
    position: fixed;
    top: 1%;
    left: 85%;
}

.score p,
.score span {
    display: inline;
    margin: 0;
}

.rank {
    background-image: url('../images/Ranking_background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 300;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
    font-size: larger;
}

.rank table,
.rank table th,
.rank table td {
    border: black 2px solid;
    border-collapse: collapse;
    font-size: 1.2rem;
    font-weight:bold;
    background-color: rgba(210,165,5,0.2);
    color: white;
}
.rank table th{
    background-color: rgba(210,165,5,0.5);
}
.rank table tr:nth-of-type(even) td{
    background-color:rgba(210,165,5,0.35);
  }
.rank button {
    
    position: absolute;
    top: 6%;
    left: 2.5%;
    height: 6vh;
    width: 12vh;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: #59595a;
    color: azure;
    cursor: pointer;
}
.rank-title{
    margin:0 0 5%;
    font-family: fantasy;
    font-weight: bold;
    font-size: 6rem;
    color: white;
    text-align: center;
}

#typeUserArea {
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(146, 146, 146, 0.7);
}

#UserNameForm {
    display: none;
    background-color: rgb(71, 71, 71, 0.9);
    height: 40vh;
    width: 60vw;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#UserNameForm h3 {
    color: aliceblue;
    font-size: 4rem;
    margin-bottom: 1vh;
}

#typeUserName {
    height: 5vh;
    width: 20vw;
    font-size: 2rem;
    caret-color: black;
}

input[type="submit"] {
    height: 5vh;
    width: 5vw;
    /* 增大按鈕寬度 */
    font-size: 1.5rem;
    cursor: pointer;
}

.form_group {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* =======================================================================我是分隔線================================================================== */


/* 怪物 */
/* =======================================================================我是分隔線================================================================== */
.mobArea {
    position: relative;
    bottom: 15vh;
    display: flex;
    gap: 2vw;
    /* 控制 mob 之間的間距 */
    /* 控制 MOBs 容器與邊框之間的距離 */
    max-width: 100%;
    justify-content: space-evenly;
    align-items: center;
    z-index: 1;
}

.mob_fade_in {
    animation: MobFadein 0.2s forwards;
}

.mob_fade_out {
    animation: MobFadeout 0.2s forwards;
}

@keyframes MobFadein {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes MobFadeout {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.mob {
    height: 35vh;
    width: 35vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    /* opacity: 0; */
}

.mob ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    list-style: none;
    margin-bottom: 0;
    width: 14vw;
}

.mob ul li {
    display: flex;
    width: 10vw;
}

.mobCD{
    color: white;
    font-size: 1.75rem;
}


#image-container {
    height: 25vh;
    width: auto;
}

#image-container img {
    display: inline-block;
    height: 100%;
    width: auto;
    /* aspect-ratio: 1/1;
    /* max-width: 100%;
    max-height: 100%; */
    margin-top: 0;
}

.mobHP {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 2vh;
    width: 50vw;
    padding: auto;
    background-image: linear-gradient(to right, rgb(190, 5, 5), rgb(216, 4, 4));
    opacity: 0.8;
    color: aliceblue;
    font-size: 1.25rem;
}

.mob_attack_step1 {
    animation: attack_step1 1s forwards;
}

.mob_attack_step2 {
    animation: attack_step2 0.5s forwards;
}

@keyframes attack_step1 {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.2);
    }

    75% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1.2);
    }
}

@keyframes attack_step2 {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.25);
    }

    75% {
        transform: scale(1.25);
    }

    100% {
        transform: scale(1);
    }
}

.displayDamage {
    position: relative;
    text-align: center;
    bottom: 40%;
    left: 50%;
    /* transform: translate(-70%,-70%); */
    font-size: 8vh;
    color: red;
    z-index: 100;
    display: none;
    animation: damage_slow_rise 0.5s ease-out;
}

@keyframes damage_slow_rise {
    0% {
        transform: translate(-50%, -50%) translateY(0.5vh);
    }

    /* 初始位置 */
    100% {
        transform: translate(-50%, -50%) translateY(-1vh);
    }

    /* 上移 5px */
}

/* =======================================================================我是分隔線================================================================== */



/* 玩家生命值 */
/* =======================================================================我是分隔線================================================================== */
.playerHP_Bar {
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to top, rgb(150, 5, 5), rgb(216, 4, 4));
    opacity: 0.8;
    z-index: 0;
}

.playerHP_Bar_Left {
    position: absolute;
    height: 100%;
    width: 2.2vh;
    left: 0;
    right: 99%;
    bottom: 0;
}

.playerHP_Bar_Right {
    position: absolute;
    height: 100%;
    width: 2.3vh;
    left: 99%;
    right: 0;
    bottom: 0;
}

.playerHP_value {
    display: inline;
    margin: 0;
    width: 80vw;
    height: 9vh;
    position: absolute;
    left: 10vw;
    bottom: 35%;
    font-size: 3.5rem;
    /* color: rgb(237, 240, 243); */
    color: aliceblue;
    z-index: 2;
}

#damageEffect {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0;
    background-color: red;
    z-index: 0;


    align-items: center;
    justify-content: center;
    font-size: 200px;
    gap: 20vh;
    color: blue;
}

.animate {
    animation: Damage_Effect_Animation 0.7s ease-out;
}

@keyframes Damage_Effect_Animation {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 50%;
    }

    70% {
        opacity: 50%;
    }

    100% {
        opacity: 0;
    }
}

#playerDied {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    /* 半透明黑色背景 */
    z-index: 200;
    margin: 0;
    padding: 0;
    align-items: center;
    /* 子元素水平居中 */
    justify-content: center;
    /* 子元素垂直居中 */
}

.menuFadein {
    animation: menu_fadein 1s forwards;
    /* 持續 2 秒 */
}

@keyframes menu_fadein {
    0% {
        opacity: 0;
    }

    /* 起始完全透明 */
    100% {
        opacity: 1;
    }

    /* 最終完全不透明 */
}


#playerDied div strong {
    color: red;

    text-align: center;
    font-size: larger;
}

.menuArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    width: 60vw;
    background-color: rgb(192, 190, 190);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* 左上角選單按鈕 */
.menu-button {
    position: fixed;
    top: 2%;
    left: 3%;
    font-size: 3rem;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
    padding: 0;
    transition: transform 0.3s ease;
}
.menu-button.rotate{
    transform: rotate(90deg);
}

#playerDied div {
    color: white;
    text-align: center;
    font-size: 5vh;
    margin-bottom: 20px;
}

#playerDied button {
    height: 10vh;
    width: 80%;
    margin-top: 10px;
    background-color: #444;
    color: aqua;
    font-size: 2.5vh;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0.3vh #666;
    cursor: pointer;
}

#playerDied button:hover {
    background-color: #666;
}

#playerDied button:active {
    color: #444;
    background-color: #59595a;
    box-shadow: 0 0.5vh #666;
    transform: translateY(1px);
}

/* =======================================================================我是分隔線================================================================== */

/*音量設置*/
/* =======================================================================我是分隔線================================================================== */
.volume-control {
    position: absolute;
    bottom: 3%; /* 距離底部 10px */
    right: 0;  /* 距離右側 10px */
    display: flex;
    flex-direction: column; /* 子元素垂直排列 */
    align-items: center; /* 子元素水平置中 */
    background-color: rgba(0, 0, 0, 0); 
    padding: 10px;
    border-radius: 8px;
    color: white;
    font-family: Arial, sans-serif;
}

#volumeSlider {
    writing-mode: bt-lr; /* 垂直方向的滑桿，從下到上 */
    -webkit-appearance: slider-vertical; /* 確保在 Webkit 瀏覽器中呈現垂直方向 */
    appearance: slider-vertical;
    height: 15vh; /* 設定滑桿高度 */
    margin: 0.8rem 0; /* 與標籤和數值之間的間距 */
}

#volumeLabel {
    margin-top: 0.8rem; /* 與滑桿之間的間距 */
    font-size: 1rem; /* 控制數字的字型大小 */
}

label {
    margin-bottom: 0.8rem; /* 與滑桿的距離 */
    font-size: 1rem;
}
/* =======================================================================我是分隔線================================================================== */


/* 打字區域 */
/* =======================================================================我是分隔線================================================================== */
#TextContainer {
    position: absolute;
    bottom:5%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    padding: 2.5%;

    color: #e6e5e5;
    display: flex;
    flex-wrap: wrap;

    width: 80vw;
    height: 30vh;
    font-size: 5.5vh;
    background-color: rgba(28, 29, 28, 0.5);
    border: solid;
    border-color: rgb(128, 128, 128, 0.05);
}

#TextContainer span {
    height: 5vh;
    margin: 0;
    padding: 0;
}

#typeBox {
    opacity: 0;
    /*取消顯示 */
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    position: relative;
    bottom: 25px;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
}

.blank_incorrect {
    background-color: red;
    /* width: 30px; */
    height: 60px;
}

.TransitionBlock_in {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    z-index: 0;
    transform: translateX(0);
    /* 初始位置 */
    transition: transform 0.3s ease-out;
    /* 加入平滑動畫效果 */
}

.hidden {
    transform: translateX(-100%);
    /* 從右移到左，離開螢幕 */
}

.TransitionBlock_out {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    z-index: 100;
    transition: transform 0.3s ease-out;
    transform: translateX(0);
    /* 這裡從右側移動 */
}

.active {
    transition: transform 0.3s ease-out;
    /* 加入平滑動畫效果 */
}

.testButtons {
    position: fixed;
    top: 70%;
    left: 5%;
}

.testButtons button {
    cursor: pointer;
}

#turnBlock {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: rgb(2, 82, 2);
    color: white;
    font-size: 40vh;
    margin: 0;
    padding: 0;
    line-height: 2.2;
    z-index: 0;
    opacity: 0;
    gap: 1vh;
}

#turnBlock div {
    opacity: 1;
}

.turnAnimation {
    animation: Turn_Effect_Animation 1.2s ease-out;
}

@keyframes Turn_Effect_Animation {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 90%;
    }

    70% {
        opacity: 90%;
    }

    100% {
        opacity: 0;
    }
}

#warningBlock {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: rgb(3, 3, 3, 0.6);
    z-index: 1000;
}

.warningBlock {
    height: 60vh;
    width: auto;
}

.warningBlock_fade {
    animation: warningBlock_fade_in_out 1.5s forwards;
}

@keyframes warningBlock_fade_in_out {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

/* =======================================================================我是分隔線================================================================== */