/* 到頂了 */
* {
    padding: 0;
    margin: 0;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden; /* 禁止滾動 */
}

header{
    background-color: black;
    height: 8vh;
    width: 100%;
}
header h1{
    color: white;
    position: absolute;
    left: 1vh;
    top:0;
    line-height: 80px;
}
header ul{
    position: absolute;
    right: 1vw;
    top:0;
    line-height: 8vh;
}
header li{
    display: inline;
    margin: 5vh;
}
.top-menu-btn{
    background-color: black;
    border: none;
    font-size: large;
    text-align: center;
    flex-wrap: nowrap;
    color: white;
    cursor: pointer;
}
.top-menu-btn:hover{
    text-decoration: underline;
}
.top-menu-btn:active{
    color:#59595a;
}


.start{
    background-color: #C0C0C0;
    display: flex;
    flex-direction: column;
    justify-content: center; /* 水平置中 */
    align-items: center; /* 垂直置中 */
    height: 100vh; /* 使 div 填滿整個視口高度 */

}
#game-title { 
    position: relative;
    bottom: 7vh;
    font-size: 6rem; /* 設定標題的字體大小 */
    margin-bottom: 4vh; /* 給標題與按鈕之間加一點間距 */
}
.Gamestart_Button {
    position: relative;
    top: 5vh;
    background-color: gray;
    letter-spacing: 0.1em;
    font-size: 50px;
    padding-top: 1vh;
    padding-bottom: 8.25vh;
    margin: 1vh;
    text-align: center;
    border: none;
    flex-wrap: nowrap;
    color: white;
    width: 600px;
    height: 10px;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 1vh #999;
    text-decoration: none;
}

.Gamestart_Button:hover {
    background-color: rgb(103, 103, 104);
}

.Gamestart_Button:active {
    color:gray;
    background-color: #59595a;
    box-shadow: 0 0.5vh #666;
    transform: translateY(1px);
}

#TransitionBlock{
    position: fixed;
    top: 0;
    left: 100%;
    height: 100%;
    width: 100%;
    background-color: black;
    z-index: 100;
    transition: transform 0.3s ease-out; /* 加入平滑動畫效果 */
    transform: translateX(0); /* 初始位置 */
}
#TransitionBlock.active {
    transform: translateX(-100%); /* 從右移到左，覆蓋整個螢幕 */
}